.testimonials{
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    text-indent: 50px;
    font-family: "Times New Roman", Times, serif;
    color: #F0FFFF;
    letter-spacing: 3px;
    line-height: 1.5;
}